@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
@import "compass/css3";
@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';
@keyframes upShow {
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes fade {
	100% {
		opacity: 1;
	}
}
*, *::before, *::after {
	box-sizing: border-box;
	color: inherit;
	list-style: none;
}
html, body {
	margin: 0;
	padding: 0;
	background-color: #f6f6f6;
	font-family: "Noto Sans TC", sans-serif;
	font-size: 16px;
}
img {
	width: 100%;
	vertical-align: middle;
}
a {
	text-decoration: none;
}
h1, h2, h3, p {
	margin: 0;
}
#app {
	max-width: 1920px;
	margin: 0 auto;
	padding-left: 320px;
	color: #2f2f2f;
}
@media (max-width: 768px) {
	#app {
		padding-left: 0;
	}
}
.fixed-menu {
	position: fixed;
	top: 0;
	left: -320px;
	background-color: #fff;
	width: 320px;
	height: 100vh;
	padding: 20px;
	box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0 15px 15px 0;
	transition: left 0.5s;
	z-index: 999;
}
.fixed-menu.active {
	left: 0;
}
.fixed-menu .switch {
	font-size: 1.5rem;
	position: absolute;
	top: 0%;
	left: 90%;
	cursor: pointer;
	display: none;
}
@media (max-width: 768px) {
	.fixed-menu .switch {
		display: block;
	}
}
.fixed-menu .logo {
	position: relative;
	width: 60px;
	height: 60px;
	margin: 0 auto 30px;
	border: 3px solid #0095FB;
	border-radius: 10px;
}
.fixed-menu .logo a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.fixed-menu .logo p {
	color: #0095FB;
	text-align: center;
	line-height: 50px;
	font-weight: 600;
}
.fixed-menu h3 {
	margin-bottom: 10px;
}
.fixed-menu ul {
	padding: 0;
	margin: 0 0 30px;
}
.fixed-menu li {
	margin-bottom: 10px;
}
.fixed-menu li a {
	width: 80%;
	display: inline-block;
	padding: 10px 20px 10px 5px;
	border-radius: 5px;
}
.fixed-menu li a:hover {
	background-color: #0095FB;
	color: #fff;
	box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.5);
}
.fixed-menu li a .fa {
	padding-right: 5px;
}
.fixed-menu .btn-box {
	display: flex;
	justify-content: space-between;
}
.fixed-menu .btn-box .btn {
	width: 130px;
	display: inline-block;
	padding: 10px 0;
	margin-bottom: 30px;
	border: 3px solid #0095FB;
	color: #0095FB;
	text-align: center;
}
.fixed-menu .btn-box .btn:hover {
	background-color: #0095FB;
	color: #fff;
}
.fixed-menu .music .pic {
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 5px;
}
.fixed-menu .music p {
	margin-bottom: 5px;
}
.fixed-menu .music .control {
	display: flex;
	justify-content: space-between;
	color: #0095FB;
}
.fixed-menu .music .control .btn {
	padding: 10px;
	cursor: pointer;
}
.content {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px 20px;
}
.content header {
	text-align: right;
	margin-bottom: 20px;
}
.content header .tips {
	display: inline-block;
	padding: 10px 15px;
	border-radius: 15px;
	background-color: #fff;
	color: #0095FB;
	font-size: 1.2rem;
	cursor: pointer;
}
.content main {
	display: block;
}
.content main .info {
	border-radius: 10px;
	background-color: #fff;
	padding: 25px 35px;
	margin-bottom: 30px;
}
.content main .info h1 {
	margin-bottom: 10px;
}
.content main .info i {
	width: 20px;
	text-align: center;
}
.content main .info p {
	margin-bottom: 5px;
}
.content main .bar {
	display: flex;
	flex-wrap: wrap;
}
.content main .bar .item {
	position: relative;
	flex-basis: 23.5%;
	padding-bottom: 23.5%;
	margin-right: 2%;
	margin-bottom: 2%;
	border-radius: 10px;
	background-color: #fff;
	text-align: center;
}
.content main .bar .item:last-child {
	margin-right: 0;
}
@media (max-width: 900px) {
	.content main .bar .item {
		flex-basis: 48%;
		padding-bottom: 48%;
		margin-right: 4%;
		margin-bottom: 4%;
	}
	.content main .bar .item:nth-child(even) {
		margin-right: 0;
	}
}
.content main .bar .item a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
}
.content main .bar .item p {
	position: absolute;
	right: 25px;
	bottom: 5%;
	font-size: 1rem;
	color: #0095FB;
}
.content main .bar .item p.num {
	font-size: 3rem;
	font-weight: 600;
	right: 50%;
	bottom: 50%;
	transform: translate(50%, 50%);
	color: #2f2f2f;
}
.content main .post {
	display: flex;
	flex-wrap: wrap;
}
.content main .post .item {
	flex-basis: 49%;
	margin-bottom: 2%;
	padding: 2.5%;
	border-radius: 10px;
	background-color: #fff;
	display: flex;
	position: relative;
	opacity: 0;
	animation: fade 1s forwards 1s;
}
@media (max-width: 900px) {
	.content main .post .item {
		flex-basis: 100%;
		padding: 4%;
	}
}
.content main .post .item:nth-child(odd) {
	margin-right: 2%;
}
@media (max-width: 900px) {
	.content main .post .item:nth-child(odd) {
		margin-right: 0;
	}
}
.content main .post .item a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
}
.content main .post .item .pic {
	flex-basis: 55%;
	padding-right: 5%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content main .post .item .txt {
	flex-basis: 45%;
}
.content main .post .item .txt p {
	line-height: 1.5;
	transform: translateY(100px);
	opacity: 0;
	animation: upShow 1s forwards 1s;
}

.rwd-table {
	margin: 1em 0;
	min-width: 300px;
}
.rwd-table tr {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.rwd-table th {
	display: none;
}
.rwd-table td {
	display: block;
}
.rwd-table td:first-child {
	padding-top: 0.5em;
}
.rwd-table td:last-child {
	padding-bottom: 0.5em;
}
.rwd-table td:before {
	content: attr(data-th) ": ";
	font-weight: bold;
	width: 6.5em;
	display: inline-block;
}
@media (min-width: 480px) {
	.rwd-table td:before {
		display: none;
	}
}
.rwd-table th, .rwd-table td {
	text-align: left;
}
@media (min-width: 480px) {
	.rwd-table th, .rwd-table td {
		display: table-cell;
		padding: 0.25em 0.5em;
	}
	.rwd-table th:first-child, .rwd-table td:first-child {
		padding-left: 0;
	}
	.rwd-table th:last-child, .rwd-table td:last-child {
		padding-right: 0;
	}
}
body {
	padding: 0 2em;
	font-family: Montserrat, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: #444;
	background: #eee;
}
h1 {
	font-weight: normal;
	letter-spacing: -1px;
	color: #34495e;
}
.rwd-table {
	background: white;
	color: black;
	border-radius: 0.4em;
	overflow: hidden;
}
.rwd-table tr {
	border-color: #0095FB;
}
.rwd-table th, .rwd-table td {
	margin: 0.5em 1em;
}
@media (min-width: 480px) {
	.rwd-table th, .rwd-table td {
		padding: 1em !important;
	}
}
.rwd-table th, .rwd-table td:before {
	color: #0095FB;
}

*,
*:after,
*:before {
	box-sizing: border-box;
	outline: none;
}

body {
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	padding: 0;
	margin: 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 0;
}

form {
	display: flex;
	flex-direction: column;
	padding: 0 10px;
	width: 400px;
}

.select-wrap {
	margin-bottom: 20px;
	position: relative;
}

select {
	background: #0095FB url("https://www.encompasscorporation.com/wp-content/uploads/2015/09/white-arrow-down.png") right 10px center no-repeat;
	background-size: 15px;
	width: 100%;
	height: 40px;
	font-size: 15px;
	color: #fff;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 0 20px;
	text-overflow: ellipsis;
	border-radius: 5px;
	cursor: pointer;
}
select:hover {
	background: blue url("https://www.encompasscorporation.com/wp-content/uploads/2015/09/white-arrow-down.png") right 10px center no-repeat;
	background-size: 15px;
}
select:active {
	background: #0095FB url("https://www.encompasscorporation.com/wp-content/uploads/2015/09/white-arrow-down.png") right 10px center no-repeat;
	background-size: 15px;
}
select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #fff;
}

.select-list {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 40px;
	width: 100%;
	overflow: hidden;
	border-radius: 5px;
	z-index: 10;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.select-list__item {
	padding: 10px 20px;
	margin: 0;
	background: #0095FB;
	cursor: pointer;
}
.select-list__item:hover {
	background: blue;
}
.select-list__item:active {
	background: #0095FB;
}

.hide {
	display: none;
}
.active {
	background-size: 15px !important;
}
.order {
	background: blue;
	border-radius: 5px;
}
.order__select-1,
.order__select-2 {
	padding: 10px 20px;
}
.itirazack {
	font-size: 14px;
}
#button {
	cursor: pointer;
	background-color: #0095FB;
	color: white;
	font-weight: bold;
	border-radius: 50px;
	border: none;
	outline: none;
	font-size: 1.5em;
	margin: 10px;
	padding: 10px 80px;
	transition-duration: 0.2s;
	width: 251px;
}

#button:hover {
	background-color: white;
	color: #0095FB;
	transform: scale(1.05);
}
#ucret{
	background-color: #0095FB;
	color: white;
	margin: 0;
	top: 40px;
	width: 100%;
	overflow: hidden;
	border-radius: 5px;
	z-index: 10;	padding: 10px 20px;
}
#ucret::placeholder{
color: white;
}
#onayla {
	float: left;
	width: 80px;
	height: 30px;
	margin: 8px 8px 8px 0px;
	border-radius: 50px;
}